# Godot 4+ specific ignores
.godot/
**/.DS_Store

# include generated d.ts for convenience to checking the example project without any changes
# you could ignore these files in your project if you decide to always generate them locally
!typescripts/typings/godot*.gen.d.ts

node_modules/
android/
